
.input-wrapper {
	max-width: 280px;
	margin: 0 auto;
}
.input-wrapper .form-control {
	margin: 2px 0;
}
.input-wrapper select.form-control,
.input-wrapper input.form-control {
	padding: 0 30px;
	letter-spacing: .5px;
}
.input-wrapper button.btn {
	min-width: 180px;
	width: 70%;
}
.input-wrapper .radio-wrapper {
	text-align: left;
}
.input-wrapper select.form-control.placeholder {
	color: #BBB;
}
.modal-dialog.modal-lg {
	min-width: 760px;
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.modal-content {
    background-color: #eee;
}
.pink-tab-header {
    background-color: #e91e63;
    color: rgba(255, 255, 255, .84)
}
.graph-wrapper {
	text-align: center;
	display: block;
}
.graph {
	display: inline-block;
    margin: 10px auto;
}
.col-strategy-name {
	font-size: 13px;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 36px;
}
.strategy-summary-modal .modal-content{
    padding: 10px;
}