.input-wrapper {
	max-width: 280px;
	margin: 0 auto;
}
.input-wrapper .form-control {
	margin: 2px 0;
}
.input-wrapper select.form-control,
.input-wrapper input.form-control {
	padding: 0 30px;
	letter-spacing: .5px;
}
.input-wrapper button.btn {
	min-width: 180px;
	width: 70%;
}
.input-wrapper .radio-wrapper {
	text-align: left;
	font-size: 13px;
}
.input-wrapper select.form-control.placeholder {
	color: #BBB;
}
.modal-dialog.modal-lg {
	min-width: 760px;
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.modal-content {
    background-color: #eee;
}
.pink-tab-header {
    background-color: #e91e63;
    color: rgba(255, 255, 255, .84)
}
.graph-wrapper {
	text-align: center;
	display: block;
}
.graph {
	display: inline-block;
    margin: 10px auto;
}
.col-strategy-name {
	font-size: 13px;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 36px;
}
.strategy-summary-modal .modal-content,
.strategy-result-history-modal .modal-content{
    padding: 10px;
}
.config-section {
	position: absolute;
	width: 100%;
	padding: 10px;
	font-size: 10px;
	text-align: right;
	color: #AAA;
}
.config-section .config {
	cursor: pointer;
	color: inherit;
}
.config-section input {
	font-size: inherit;
	height: 20px;
	color: inherit;
	text-align: center;
}
.config-section div, .config-section input {
	display: inline-block;
}
.input-transaction-cost {
	width: 30px;
}
input.row-checkbox {
	width: 15px;
    height: 15px;
    margin: 0;
    vertical-align: middle;
}
.btn-strategy-summary {
	-webkit-transition: background-color 0.4s;
	-moz-transition: background-color 0.4s;
	transition: background-color 0.4s;
}
.strategy-result-history-modal {
	width: 100%;
	table-layout: fixed;
}
.strategy-result-history-modal th,
.strategy-result-history-modal td {
	/*white-space: nowrap;*/
}
.table-x-scroller-wrapper {
	overflow-x: scroll;
}
.strategy-result {
	font-size: 12px;
}
.strategy-time-frame-group label {
	margin: 0 27.5px 0 10px;
}
.table.table-bounds-weights {
	font-size: 13px;
	width: initial;
	margin: 10px auto;
	border: 1px solid #ddd;
}
.table-bounds-weights td,
.table-bounds-weights th {
	padding: 5px !important;
	vertical-align: middle !important;
    white-space: nowrap;
}
.table-bounds-weights input.form-control {
	font-size: 13px;
	padding: 0;
	margin: 0;
	height: 22px;
	width: 30px;
	letter-spacing: 0;
	text-align: center;
}