<!DOCTYPE html>
<html lang="en-us" ng-app="dataMiningApp">
<head>
    <meta charset="utf-8">
    <title>Pair Finder</title>
    <link rel="stylesheet" href="./lib/bootstrap-3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="./lib/bootstrap-material-design/css/material-fullpalette.min.css">
    <link rel="stylesheet" href="./lib/bootstrap-material-design/css/ripples.min.css">
    <link rel="stylesheet" href="./lib/bootstrap-material-design/css/roboto.min.css">
    <link rel="stylesheet" href="./css/style.css">

    <script src="./lib/es5-shim.min.js"></script>
    <script src="./lib/jquery-1.11.3.min.js"></script>
    <script src="./lib/bootstrap-3.3.5/js/bootstrap.min.js"></script>
    <script src="./lib/bootstrap-material-design/js/material.min.js"></script>
    <script src="./lib/bootstrap-material-design/js/ripples.min.js"></script>
    <script src="./lib/papaparse.min.js"></script>
    <script src="./lib/angular-1.4.x.min.js"></script>

    <script src="https://www.google.com/jsapi"></script>

    <script src="./js/app.js"></script>
    <script src="./js/controllers.js"></script>
    <script src="./js/services.js"></script>


<!--
    <script src="./js/data-mining.js"></script>
 -->
</head>
<body>
<main ng-controller="PairFinderCtrl" ng-cloak>
    <section class="input-yql-section text-center">
        <div class="container">
            <h3>Pair Finder</h3>
            <p class="text-muted text-center">
                Please strictly follow the ISO date format (YYYY-MM-DD). <br>
            </p>
            <div class="input-wrapper">
                <!-- <input type="text" class="form-control" ng-model="stockCode1" placeholder="Stock Code 1">
                <input type="text" class="form-control" ng-model="stockCode2" placeholder="Stock Code 2"> -->
                <input type="text" class="form-control input-date" ng-model="startDate" placeholder="From (YYYY-MM-DD)">
                <input type="text" class="form-control input-date" ng-model="endDate" placeholder="To (YYYY-MM-DD)">
                <div class="radio-wrapper">
                    <div class="radio radio-primary" ng-repeat="rule in calculationRules">
                        <label>
                            <input type="radio" name="pairingRule" ng-model="$parent.pairingRule" ng-value="rule.funcName">
                            {{ rule.name }}
                        </label>
                    </div>
                </div>
                <!-- <button class="btn btn-material-pink-500"
                        ng-disabled="!stockCode1 || !stockCode2 || !startDate || !endDate || !pairingRule"
                        ng-click="findPair()">
                    Run
                </button> -->
                <select class="form-control"
                        ng-class="{placeholder: !stockCategory.stocks}"
                        ng-model="stockCategory"
                        ng-options="category as category.name for category in stockCategories" ></select>
                <textarea class="form-control" ng-model="stockList"></textarea>
                <button class="btn btn-material-pink-500"
                        ng-disabled="!startDate || !endDate || !pairingRule || !stockList"
                        ng-click="crawl()">
                    Crawl
                </button>
            </div>
        </div>
    </section>
    <section class="quote-data-table">
        <div class="container">
            <p class="text-warning text-center" ng-show="message" ng-bind="message"></p>
            <table class="table table-striped table-hover" ng-show="scores.length">
                <thead>
                    <tr>
                        <th style="width: 25%">Stock 1</th>
                        <th style="width: 25%">Stock 2</th>
                        <th style="width: 38%">Score</th>
                        <th style="width: 12%">Day Counts</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="score in scores | orderBy:'score'" ng-click="clickRowData(score)" style="cursor: pointer;">
                        <td ng-bind="score.stock1"></td>
                        <td ng-bind="score.stock2"></td>
                        <td ng-bind="score.score"></td>
                        <td ng-bind="score.dayCounts"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    
    <section class="modal fade">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <ul class="nav nav-tabs pink-tab-header">
                    <li class="active">
                        <a href="#graphs" data-toggle="tab">Graphs</a>
                    </li>
                    <li>
                        <a href="#profile" data-toggle="tab">Profile</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="graphs">
                        <div class="graph graph-1"></div>
                        <div class="graph graph-2"></div>
                    </div>
                    <div class="tab-pane" id="profile">...</div>
                </div>
            </div>
        </div>
    </section>
    
</main>
<script>
$.material.init();
</script>
</body>
</html>